<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        footer {
          text-align: left;
          padding: 0.2px;;
          background-color: rgb(1, 25, 35);
          color: rgb(245, 247, 248);
          font: status-bar,oblique;
        }
     
        </style>
</head>
<body>
    <div>
        <h1>Welcome to our event site</h1>
    </div>
    <div><footer>
        <h1>About us</h1>
        <h5>Building great business stories.
        We are an independent partner who knows Marketing & Advertising agencies' competitive landscape. Tell us your needs and we'll tell you the agencies you must meet.</h5>
        
        <img>
        <img src="https://static.vecteezy.com/system/resources/previews/009/384/296/original/call-us-buttons-clipart-design-illustration-free-png.png" alt="Call us" width="50" height="50"><h3>987456321</h3>
        </img>  
        </h2><a href="event@gmail.com">event@gmail.com</a></h2>
    </footer>
      </div>

</body>
<style>
    

