{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>login</title>
{% endblock title %}
{% block content %}
    <main class="bg-light h-100">
    <form class="container py-2 bg-light" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-dark" type="submit"> <a class="t" href="{%url 'home'%}">login</a></button>
        <p class="text-center">Don't have an account? <a href="{%url 'register'%}">Create an account</a>.</p>
    </form>
   
    </main>
    {% endblock content%}