{% extends "base.html" %}
{% load crispy_forms_tags %}


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Register</title>
    {% endblock title %}
    {% block content %}
                {%if not request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'home' %}">
                    Home <span class="sr-only">(current)</span>
                    </a>
                {% endif %}  




        <main class="bg-light h-100">
        <h1>Please Register</h1>
        <form action="{% url 'register' %}" method ="POST">
            {% csrf_token %} {{ form | crispy }}
            <button type="submit">Register</button>
            
        </form>
        
        
        </main>
    {% endblock content%}