{% extends "base.html" %}
{% block title %}
    <title>Event List</title>
{% endblock title %}
  {% block content %}
  <div class="container h-1 d-flex justify-content-center">
    <div class="row">
      {% for event in events %}
      <div class="col-4">
        <div class ="card" style ="width: 18rem">
          <img class ="card-body">
          <p>{{event.name}}</p>
          <img src={{event.image.url}} alt="birthday"/>
          <p>Available Seats: {{event.available_seats}}</p>
          <p>{{event.booked_seats}}</p>
        </div>
      </div>
    </div >
    {% endfor %}
  </div>
  </div>
  
  {% endblock content%}